body {
  height: 100%;
  margin 0;
  padding 0;
  font-family: Arial, sans-serif;
  font-size: 2em;
  text-shadow: 0 0 10px #000;
  color: #fff;
  background: #b3e6ff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

h1 {
  font-size: 2em;
  padding: 0 0.3 em;
  line-height: 1em;
}

p {
  padding 0 1em;
}

a {
  color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  font-size: 0.5em;
}

#temperature {
  text-decoration: none;
  border-bottom: 0.05em dotted white;
}

.weather-wrap {
  background-color: rgba(255,102,102,1);
  width: 35%;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
}

#city {
  padding: 10px 5px 0px 5px;
}

#icon {
  padding-bottom: 10px
}

#weather:hover {
  color: green;
}
